<div class="Bg pb-5" #hireme>
  <div class="container">
    <h1 class="pt-5 mb-3" style="text-align:center; color: white;"><strong style="border-bottom: solid 5px white;">Hire Me</strong></h1>

    <div class="row" style="background-color:rgba(200, 140, 255, 0.459); border-radius: 5px">
      <div class="col-md-6 mt-5 p-5">
        <p style="color: white;">
          Together, we are an innovation-led, business transformation partner built for today’s digital challenges. Take your business online with me. I focus on the things that matter - insights, interactions, integrations, and innovations that make extraordinary things happen for brands, businesses and their customers. Contact me for further discussion.
        </p>
      </div>
      <div class="col-md-6 mt-5 p-5" style="text-align:center; color: white;">
        <h3 class="pt-3 mb-3" style="text-align:center; color: white;"><strong style="border-bottom: solid 3px white;">Contact</strong></h3>
        <p><strong><em>Email:</em> </strong><a class="pl-1" style="color: inherit; text-decoration: none;" href="mailto:rvpandey99@gmail.com">rvpandey99@gmail.com</a></p>
        <p><strong><em>Call:</em></strong><span class="pl-1" >+91 7007993416</span></p>
      </div>
    </div>
    <div class="mt-3 pt-2 pb-1" style="text-align:center; background-color:rgba(200, 140, 255, 0.459); border-radius: 5px">
      <p style="text-align:center; color: white;">&copy; 2019 RaviPrakashPandey.com<p></p>
    </div>
  </div>
</div>
