<div class="container">
  <nav class="nav-grid mt-2">
    <div class="nav-grid-brand "><a class="nav-link-brand" routerLink="/home"><img class = "logo-svg" src="../assets/Unionravi-logo-white.svg"></a></div>
    <div class="nav-grid-item "><a class="nav-link" routerLinkActive="active"  routerLink="/home"><strong> Home</strong></a></div>
    <div class="nav-grid-item "><a class="nav-link" routerLinkActive="active" routerLink="/blog"><strong> Blog</strong></a></div>
    <div class="nav-grid-item "><a class="nav-link" routerLinkActive="active"  routerLink="/hire"><strong> Hire me</strong></a></div>
    <div class="nav-grid-button"><a class="btn mt-1 btn-outline-light"  routerLink="/">Sign in</a></div>
  </nav>
</div>
