.nav-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
.nav-grid-brand {
    grid-column: 1 / span 10;
    color: white;
    .nav-link {
        color: white;
    }
}
.nav-grid-item {
    text-align: center;
}
.nav-grid-button {
    .btn-outline-light{
        border-radius: 0;
    }
    text-align: center;
}
.nav-grid-item:hover {
    background-color: rgba(222, 195, 248, 0.507);
}
.nav-link {
    color: white;
}
.active {
    color: rgb(0, 0, 0); 
    background-color: rgba(255, 255, 255, 0.76);
    border-bottom: 3px solid rgba(222, 195, 248, 0.39); 
}
// .Bg {
//     background-image: url("../../assets/PicsArt_07-21-02.43.29.png");
//     background-size: 70vw;
//     background-repeat: no-repeat;
// }
.bg-item {
    background-color: #f8f8f89d;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .nav-grid {
        // justify-content: center;
        grid-template-columns: auto auto auto auto;
        
        text-align: center;
    }
    .nav-grid-brand {
        grid-column: 1 / span 4;
        // justify-content: center;
        text-align: center;
    }
  }