<h1 class="mt-5 mb-5" style="text-align:center;">Portfolio</h1>

<div class="row">
  <div class="col-md-6 mt-5">
    <div class="card">
      <iframe src="https://trade-ravi.herokuapp.com" height="350px" frameborder="0" class="card-img-top">
        <p>Your browser does not support iframes.</p>
      </iframe>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 mt-5">
    <div class="card">
      <iframe src="https://ravi-issue.herokuapp.com" height="350px" frameborder="0" class="card-img-top">
        <p>Your browser does not support iframes.</p>
      </iframe>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 mt-5">
    <div class="card">
      <iframe height="350" src="https://www.youtube.com/embed/wrPdZE4ks_0" class="card-img-top" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 mt-5">
    <div class="card">
      <img src="https://via.placeholder.com/450x300?text=Portfolio+Item3" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
