
<div class="container-fluid">
  <div class="Bg">
  <div class="hero container row">
    <div class="col-md-8"></div>
    <div class="col-md-4 hero-content">
        <h1 class="heading"><strong>&lt;coder&gt;</strong></h1>
        <span class="text">
          MEAN stack developer who focuses on writing clean, elegant and efficient code.
        </span>
        <h1 class="heading mt-3"><strong>designer</strong></h1>
        <span class="text">
         UI/UX designer with a passion for designing beautiful and functional user experiences.
        </span>
        <div class="hire-button-container">
          <button class="btn btn-primary hire-button"><strong>Hire Me</strong></button>
        </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore explicabo magnam voluptas, in velit accusantium quod dolorum quos, voluptatem adipisci qui quo cumque a sint distinctio quae est nobis pariatur.</p>
</div>
