.Bg {
    background-image: url("../../assets/dev-flip.png");
    background-size: auto 90vh;
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: 40vh;
}

.hero {
    padding-top: 100px;
    color:rgb(45, 46, 85);
}

// .hero-content{
//     background: rgba(198, 198, 250, 0.349);
// }

.hire-button-container{
    padding-top: 15px;
    position: relative;
    display: flex;
}

.hire-button {
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    width: 150px;
    border-color: #9780FB !important;
    color: white !important;
}
.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #9780FB !important;
}

.btn-primary:hover{
    background-color: #7359F9 !important;
}

@media screen and (min-width: 1250px) {
    .hero {
        padding-top:120px;
    }
}

@media screen and (max-width: 768px) {
    .Bg {
        background-size: auto 40vh;
        height: 88vh;
    }
    .hero {
        padding-top:20px;
        text-align: center;
        mix-blend-mode: hard-light !important;
        // color: rgba(0, 0, 0, 0.658)
    }
    .hire-button {
        border-color:#7892F6 !important;
    }
    .btn-primary, .btn-primary:active, .btn-primary:visited {
        background-color: #7892F6 !important;
    }

    .btn-primary:hover{
        background-color: #6369F7 !important;
    }
  }
